<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDADykfF20_Ggsc6wqZobjqh-51irdaeS0</string>
	<key>GCM_SENDER_ID</key>
	<string>233057701817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.controlcontratos.app</string>
	<key>PROJECT_ID</key>
	<string>contratos-control</string>
	<key>STORAGE_BUCKET</key>
	<string>contratos-control.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233057701817:ios:e2820e4af8002bf3cf7068</string>
</dict>
</plist>